.App {
  text-align: center;
  color: #a3c4bc;
}

.App-logo {
  height: 40vmin;
  /** animation: App-logo-spin infinite 20s; **/
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
